/* Ajoutez ces styles dans votre fichier CSS ou directement dans votre composant React si vous utilisez des styles en ligne */
.i{
    display: flex;
    flex-direction: column;
    width: 200px;
    
    
  }
  .p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }
  
  select {
    padding: 8px;
  }
  
  p {
    margin-top: 16px;
  }
  