.log{
    /* display: flex; */
  
}
.log2{
    margin: 15%;
    padding: 50px;
    text-align: center;
    background-color:#fff ;
    border-radius: 20px;
    
}
.log2element.style {
    margin-top: 50px;
}  
.log input{
    margin: 10px;
    width: 60%;
} 